<% content_for :content do %>
	<table width="95%" cellpadding="10">
		<tr>
			<td align="left">
				<font face="Lucida Grande, Segoe UI, Arial, Verdana, Lucida Sans Unicode, Tahoma, Sans Serif">
					Hola!<br/><br/>
					Te han pagado la siguiente deuda:<br/>
					<dl class="dl-horizontal">
					  <dt><strong><%= t 'created_at' %>:</strong></dt>
					  <dd><%=l @transaction.created_at.in_time_zone(@time_zone) %></dd>
					  <dt><strong><%= t 'debtor' %>:</strong></dt>
					  <dd><%= @transaction.debtor.email %></dd>
					  <dt><strong><%= t 'lender' %>:</strong></dt>
					  <dd><%= @transaction.lender.email %></dd>
					  <dt><strong><%= t 'amount' %>:</strong></dt>
					  <dd><%= number_to_currency @transaction.amount, precision: 0 %> <%= @transaction.currency.symbol unless @transaction.currency.nil? %></dd>
					  <dt><strong><%= t 'comments' %>:</strong></dt>
					  <dd><%= @transaction.comments %></dd>
					</dl>
					<div style="text-align:center; margin-top:30px">
					Verifica que hayas recibido el pago y luego <%= link_to 'haz click acá para confirmarlo', 
					transaction_mark_as_paid_by_lender_url(@transaction, token: @transaction.token) %>
					</div>
				</font>
			</td>
		</tr>
	</table>
<% end %>

<%= render "layouts/email_template" %>